@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

/*MEDIA QUERYS*/

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 




* {font-family: 'Titillium Web', sans-serif;}

a{
  color: #095540;
}

ul
{
  list-style: none !important;
}



li.nav-item::marker{
  display: none !important;
  margin-top: -4rem;
  height: 0px;
  width: 0;
  font-size: 0px;
}


.dark-mode a{
  color: #fff;
}


.content{
  margin-inline: 22px;
}

.btn-primary:focus{
  background-color: #005440;
  border-color: #00795d;
}

.btn-primary{
  background-color: #005440;
  border-color: #00795d;
}

.link{
  color: #28a745;
}

.link:hover{
  color: #47d367 !important;
}


.pagetitlecustom{
  font-family: 'Titillium Web Semibold', sans-serif;
  text-align: center;
}
.pagetitlecustom::after {
  display: block;
  margin: 1.2rem auto;
  content: "";
  background-color: #005440;
  height: 3px;
  width: 3rem;
  border-radius: 10rem;
}

.dark-mode .pagetitlecustom::after {
  display: block;
  margin: 1.2rem auto;
  content: "";
  background-color: #C6F1E0;
  height: 3px;
  width: 3rem;
  border-radius: 10rem;
}


.pagetitle2custom{
  font-family: 'Titillium Web Semibold', sans-serif;
  text-align: center;
}


.pagesubtitlecustom{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  color: #05664f;
}

.dark-mode .pagesubtitlecustom{
  color: #C6F1E0;
}


#rejillas_anteriores{
  display: flex;
  justify-content: center;

}

.input-group-btn{
margin: 0 !important;
}

#archivo_repgrid_progress{
  /*display: none;*/
}

.desccustom{
  text-align: center;
}

.desccustom-hint{
  text-align: center;
  color: #56606a;
}

.dark-mode .desccustom-hint{
  color: #99a4b0;
}

.content-wrapper{
    padding-block: 22px;
}


#contrasena::placeholder{
  font-size: 6px;
}

.custom-control{

  margin-bottom: .5rem !important ;

}

.navbar::before {
  content:"GridCFM";
  display: block;
  position: absolute;
  top: 16px;
  font-size: 24px;
  left: 0;
  width: 100%;
  font-weight: bolder;
  text-align: center;
}

.logocontainer{
  width: 100%;
  display: flex;
  align-items: center;
}

.logoimg{
  width: 100%;
  object-fit: cover;
}

.logoimg404{
  width: 100%;
  margin-block: 2rem;
  object-fit: contain;
}


.button-container{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .5rem;
}

.border-divider{

  border-bottom: 1px solid #dee2e6;

}

.flex-container-sm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.row{
  max-width: 900px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.reducirfix{margin-bottom: -0.1px;}

.flex-container-resp{
  display: flex;
  max-width: 800px;
  width: 80%;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.detail .form-group:first-child{
  width: 100%;
}

.detail .form-group:first-child > div{
  display: flex;
  margin: auto;
  max-width: 300px;
}


.detail .form-group:first-child > div > div > div{
  width: 300px;
}

.detail .form-group:first-child > label{
  text-align: center;
  display: block;
  margin-inline: auto;
}

.detail .form-group:first-child > div > label{
margin: auto;
}

.error-help {
  background-color: #eebfbf;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 500px;
}

.dark-mode .error-help {
  background-color: #3b1a1a;
}

.error-help p {
  text-align: center;
  font-size: .9rem;
  color: #8b0000;
}

.error-help  > div:first-child > i {
  margin: auto;
  color: #8b0000;
}

.dark-mode .error-help > div:first-child > i {
  color: #d87272;
}

.dark-mode .error-help p{
  color: #d87272;
}


.error-help div:nth-child(2) button{
  background-color: #ffffff !important;
  border-color: #acacac !important;
}

.error-help div:nth-child(2) button:hover{
  background-color: #e2e2e2 !important;
  border-color: #acacac !important;
}

.error-help div:nth-child(2) button:active{
  background-color: #ffffff !important;
  border-color: #acacac !important;
}

#biplot2d_plot{
  height: 1000px !important;
}

.hidden{
  /*display: none;*/
  display: none;
}


.shiny-output-error{
text-align: center;
color: #8b0000; 
}

.dark-mode  .shiny-output-error{
  text-align: center;
  color: #d87272;
}


.flex-container-xl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}


.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.table-container div{
  overflow: auto;
  border-radius: .5rem;
  border: 2px solid #dee2e6;
}

#rejillas_anteriores{
  width: 80%;
}

#rejillas_anteriores table{
  width: 100% !important;
}

.table-container div table{
  margin-bottom: 0;
}

.dark-mode .flex-container{
  border-color: #56606a;
}

.input-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6f1e0;
  border-radius: .5rem;
  width: 350px !important;
}

@media only screen and (max-width: 600px) {

  .input-container{
    width: 100% !important;
  }
  
}

.dark-mode .input-container{
  background-color: #343A40 !important;
}


.dark-mode .wg.input-container{
  background-color: #343A40 !important;
}

.input-container .form-group{
  height: 80px;
  margin-bottom: 0 !important;
}

.language-selector .form-group{
  display: flex;
  width: 120px;
  align-items: center;
  margin-bottom: 0 !important;
}

.language-selector .form-group label{
  margin: 0 .2rem 0 0 !important;
}

.language-selector .form-group div{
  width: 100%;
}

.language-selector .form-group div .selectize-control .selectize-input{
  height: 34px;
  margin: 0 0 0 .2rem;
  padding: 6px;
}

.language-selector .form-group div .selectize-control{
  height: 34px;
}

#selected_language-selectized{
  display: none !important; 
}


.language-selector .form-group div .selectize-control .selectize-dropdown{
  height: fit-content;
}

.selectize-input{
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 0;
}

.selectize-input:hover{
  background-color: #f5fdfa;
}

.dark-mode .selectize-input:hover{
  background-color: #1e2322;
} 

.selectize-control{
  margin-bottom: 0;
  height: 40px;
  }

.selectize-input .item{
  font-weight: bolder;
  color: #005440;
  }

.dark-mode .selectize-input .item{
    color: #C6F1E0;
    }

.dark-mode .form-control:disabled, .form-control[readonly]{
    color: #212529;
  }

.dark-mode .card-header{
    border-color: #56606a;
  }
.brand-link {
  font-family: 'Titillium Web Semibold', sans-serif;
}

.card-title{
  font-weight: 600 !important;
}
.card-title i{
  margin-right: 4px !important;
}

.btn i{
  margin-right: 4px !important;
}

.skin-blue .main-header .navbar {
  background-color: #005440;
}

.skin-blue .main-header .logo {
  background-color: #45CE98;
  color: #0A0A0A;
}

/* Personalizar el color del cuadro de inicio de sesión */
#login_box.box.box-primary {
  border-top-color: #45CE98;
  background-color: #BFE9D8;
}

#login_box.box.box-primary > h3,
#login_box.box.box-primary > p {
  color: #0A0A0A;
}


[class*="sidebar-dark-"] .nav-pills .nav-link:not(.active):hover {

background-color: rgba(255,255,255,0.1);
color: #fff;
}

[class*="sidebar-light-"] .nav-pills .nav-link:not(.active):hover {
  background-color: rgba(0,0,0,0.2);
  color: #212529;
}

/*revisar*/
.my-custom-table.dataTable thead th {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: left;
  height: 80px;
  vertical-align: bottom;
  padding: 5px;
}

/*revisar*/
.dropdown select {
  background-color: #005440;
  color: #BFE9D8;
  border: 2px solid #45CE98;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
  transition: all 0.3s ease;
}
/*revisar*/
.dropdown select:focus {
  outline: none;
  border-color: #13906d;
}
/*revisar*/
.dropdown select option {
  background-color: #13906d;
  color: #BFE9D8;
}

/*revisar*/
.language-selector select {
  background: #005440;
  color: #BFE9D8;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  appearance: none;
  cursor: pointer;
}
/*revisar*/
.language-selector select:focus {
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/*revisar*/
.language-selector select option {
  color: #005440;
  background-color: #BFE9D8;
}

.dark-mode a:not(.btn):hover{
  color: inherit;
}

/*Estilo de botones de navegación y Tabs*/



.rg-diff{}


/*header normal*/

.header-tab .nav.nav-tabs{
  display: flex;
  justify-content: center;
  margin-top: -36px;
}

.header-tab .nav-tabs .nav-item .nav-link{
  text-align: center;
  font-size: 20px;
}

.header-tab .nav-tabs .nav-item .nav-link.active{
  color: #ffffff;
  font-weight: bolder;
  border: none;
  font-size: 20px;
}

.wg-diff.header-tab .nav-link.active{
  color: #fff;
  background-color: #dfb639 !important;
  box-shadow: 0 0 3px #ffc107;
}

.wg-diff.header-tab .nav-link.active:hover{
  background-color: #dfb639 !important;
  box-shadow: 0 0 3px #ffc107;
}

.dark-mode .wg-diff.header-tab .nav-link{
  color: #fff;
}

.rg-diff.header-tab .nav-link.active{
  color: #fff;
  background-color: #005440 !important;
  box-shadow: 0 0 3px #005440;
}

.rg-diff.header-tab .nav-link.active:hover{
  background-color: #005440 !important;
  box-shadow: 0 0 3px #005440;
}

.header-tab .nav-link:hover{
  background-color: rgba(35, 35, 35, 0.1) !important;
}

.dark-mode .rg-diff.header-tab .nav-link{
  color: #fff;
}

.wg-diff.header-tab .nav-link{
  color: #634d09;
}

.rg-diff.header-tab .nav-link{
  color: #005440;
}

.wg.pagetitlecustom::after {
  background-color: #ffc107 !important;
}

.wg.input-container{
  background-color: #fff3b8 !important;
}


/*subheader*/

.subheader-tab .nav.nav-tabs{
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0 !important;
}

.subheader-tab .nav-tabs .nav-item .nav-link{
  text-align: center;
  font-size: 18px;
}

.subheader-tab .nav-tabs .nav-item .nav-link.active{
  color: #ffffff !important;
  font-weight: bolder;
  border: none;
  font-size: 20px;
  background-color: #333333 !important;
  box-shadow: 0 0 3px #333333 !important;
}

.subheader-tab .nav-item a{
  color: #56606a !important;
}

.subheader-tab .nav-item a:hover{
  color: #292d30 !important;
}

.subheader-tab .nav-link.active{
  color: #fff;
  background-color: #343434 !important;
  box-shadow: 0 0 3px #343434;
}

.dark-mode .subheader-tab .nav-link.active{
  background-color: #555555 !important;
  box-shadow: 0 0 3px #343434;
}

.dark-mode .subheader-tab .nav-item a{
  color: #ffffff !important;
}


/*Categorías por color*/

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
 color:#fff;
 background-color:inherit;
}

.nav .nav-link.active {
 background-color:#095540;
 box-shadow: 0 0 3px #13906d;
}

.nav .nav-link.active.sub
{
  background-color: #5a6268;
  box-shadow: 0 0 3px #5a6268;
 }

.wimpg-page .nav-item .nav-link.active{
  background-color: #cda93f !important;
  box-shadow: 0 0 3px #ffc107 !important;
}

.repg-page .nav-item .nav-link.active{
  background-color: #13906d !important;
  box-shadow: 0 0 3px #13906d !important;
}

/**/

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #13906d !important;
  border-color: #13906d !important;
}

/*revisar*/
.submenu-item li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submenu-item li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submenu-item li a p{
  width: 120px !important;
}


.my-custom-table.dataTable thead th {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: left;
  height: 80px;
  vertical-align: bottom;
  padding: 5px;
}

.user-page-btn{
position: absolute;
right: 80px;
border-radius: 1rem;
padding: .2rem;
overflow: hidden;
}

.user-page-btn li a{
  display: flex;
  gap: .3rem;
  align-items: center;
  justify-content: center;

}

.user-page-btn li a.active{
  color: #fff;
  background-color: #0b382c !important;
  box-shadow: 0 0 3px #0d513e !important;
}

.user-page-btn li a.active:hover{
  color: #fff;
  background-color: #0b382c !important;
  box-shadow: 0 0 3px #0d513e !important;
}

.user-page-btn li a:hover{
  background-color: rgba(35, 35, 35, 0.2) !important;
}


.user-page-btn li a i{
width: fit-content;
margin: auto;
}

.user-page-btn li a p{
  margin: 0 !important;
}


.kpi div table{
  min-width: 200px;
}

.kpi div table th{
  text-align: center !important;
  padding: 1.5px;
}


.kpi div table td{
  text-align: center !important;
  padding: 3px;
}

